<div class="herotemplate">
		  <div class="container">
		    <div class="jumbotron">
		      <h1>David, Here's 7 Critical Problems With Your Website That Costing Are You Money</h1>
		      <div class="flex-video widescreen span10 offset1">
		        <div>
		          <iframe width="853" height="480" src="//www.youtube.com/embed/u4_QEe3ltoY?rel=0" frameborder="0" allowfullscreen></iframe>
		        </div>  
		      </div>

		      <span class="cta"><br><h3>Book a free 60 Minute Consultation (Usually $250) with me now and learn how you can fix these problems on your website.</h3></span>
		      
		      <a class="btn btn-lg btn-warning" data-appointlet="quanegy" data-mode="1" target="_blank">
		        <span>Book Consultation*</span></a>
		      <script>(function(e,t,n,r){if(e)return;t._appt=true;var i=n.createElement(r),s=n.getElementsByTagName(r)[0];i.async=true;i.src='//dje0x8zlxc38k.cloudfront.net/loaders/s-min.js';s.parentNode.insertBefore(i,s)})(window._appt,window,document,"script")</script><br>
		      <!--  <span class="center small light">*Prospective clients must meet key standards and criteria to be eligible for Quanegy services.</span> -->
		    </div>
		  </div>
		</div>
		<div class="container">
			<div class="row">
				<div class= "col-md-2 col-sm-3 col-xs-3"><%= image_tag "timheadshot.png", alt: "image 1", class: "img-thumbnail" %></div>
				<div class="col-xs-9 col-sm-9 col-md-9">
					<div class="col-xs-12 col-sm-12 col-md-12 consultantname">Tim Cort</div>
					<div class="col-xs-12 col-sm-12 col-md-12 consultanttitle">Digital Marketing Consultant, <span class="quanegy">Quanegy.com</span></div>
					<div class="col-xs-12 col-sm-12 col-md-12 phoneemail"><a class="link" href="mailto:timcort@quanegy.com" data-mode="1" target="_blank">TimCort@quanegy.com</a></div>
					<div class="col-xs-12 col-sm-12 col-md-12 phoneemail">07 3040 6215</div>
				</div>
			</div>
		</div><br><br><br>


		<!-- START THE BENEFIT FEATURETTES -->

		<div class="featurette-blue">    
		  <div class="container">
		    <div class="row featurette">
		      <div class="hidden-md hidden-lg">
		        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
		      </div>
		      <div class="col-md-7">
		        <h2 class="featurette-heading">A surge in your conversion rate, <span class="text-muted">with no opportunity left behind</span></h2>
		        <p class="lead">How many opportunities are you missing? Only a fraction of your market is ready to buy right now. However on average 25% of any given market are legitmate highly qualified buyers that should progress to a sale. By properly mapping out your markets conversion points you can develop and nurture these leads until they are ready to buy. Surging your sales and leaving no opportunity behind.</p>
		      </div>
		      <div class="visible-md visible-lg col-md-5">
		        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="container">
		  <div class="row featurette">
		    <div class="col-md-5">
		      <%= image_tag "002.png", alt: "image 2", class: "featurette-image img-responsive" %>
		    </div>
		    <div class="col-md-7">
		      <h2 class="featurette-heading">Increase your margins,  <span class="text-muted">while reducing costs</span></h2>
		        <p class="lead">How much net profit are you leaving on the table? By mapping out and optimising your sales funnel leads that are properly developed and nurtured will make up to 47% larger purchases than those that are not. This is because the buying criteria of leads that are properly developed and nurtured will focus on how much value larger orders, extras, options and upsells provide rather than the more common price sensitive predisposition of un-developed leads.</p>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="featurette-blue">  
		  <div class="container">
		    <div class="row featurette">
		      <div class="col-md-7">
		        <div class="hidden-md hidden-lg">
		        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
		        </div>
		        <h2 class="featurette-heading">Boost repeat business & referrals, <span class="text-muted">exponentially!</span></h2>
		        <p class="lead">You have a 5-10 times better chance of winning a sale with an existing customer or referral than you are winning business with a new lead.  By mapping out your customers conversion points you can engage and convert customers in a way that naturally compels them to repeat business and refer you to others. When this is mapped out and seemlessly built in with your product or service you create a viral loop which grows your customer base exponentially.</p>
		      </div>
		      <div class="visible-md visible-lg col-md-5">
		        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
		      </div>
		    </div>
		    <hr class="featurette-divider">
		  </div>
		</div>
		<!-- /END THE FEATURETTES -->

		<!-- Bottom cta -->
		<div class="container center">
		  <br>
		  <h2 class="hiw-heading"><small>Empower High Value Customer Acquisition in your Organisation</small></h2><br>
		  <a class="btn btn-lg btn-warning" data-appointlet="quanegy" data-mode="1" target="_blank">
		        <span class="visible-xs">Schedule Disscussion*</span>
		        <span class="hidden-xs">Schedule Discussion*</span></a>
		      <script>(function(e,t,n,r){if(e)return;t._appt=true;var i=n.createElement(r),s=n.getElementsByTagName(r)[0];i.async=true;i.src='//dje0x8zlxc38k.cloudfront.net/loaders/s-min.js';s.parentNode.insertBefore(i,s)})(window._appt,window,document,"script")</script><br><br><br>
		    <!--    <span class="center">*Prospective clients must meet key standards and criteria to be eligible for Quanegy services.</span> -->
		  <br>
		  <br>
		  <hr class="featurette-divider">
		</div>