<!-- Jumbotron -->
<div class="container">
  <div class="jumbotron">
    <h1>The Smarter Way to Acquire Superstar Talent</h1>
    <p class="lead"></p>
    <div class="flex-video widescreen span10 offset1">
      <div>
        <iframe width="853" height="480" src="//www.youtube.com/embed/vh-nAh_jxIY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>  
    </div>


    <a class="btn btn-lg btn-success typeform-share" href="https://quanegy.typeform.com/to/XVdMxI" data-mode="1" target="_blank">
      <span class="visible-xs">Get Started Now!</span>
      <span class="hidden-xs">Start Building a Smart Talent Acquisition Process Now</span></a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
    </script>


  </div>
</div>

  <!-- process -->

<div class="container">
  <div class="row center featurette">
<!--     <h2 class="hiw-heading">How it Works</h2> -->
    <div class="col-lg-4">
        <%= image_tag "badges.001.png", alt: "image 1", class: "img-circle" %><br>
        <h2 ><small>1: Deconstruct Key Success Factors for the Job Position</small></h2>
    </div>
    <div class="col-lg-4">
        <%= image_tag "badges.002.png", alt: "image 1", class: "img-circle" %><br>
        <h2><small>2: Build a Customised Online Candidate Testing Sequence</small></h2>
    </div>
    <div class="col-lg-4">
        <%= image_tag "badges.003.png", alt: "image 1", class: "img-circle" %><br>
        <h2><small>3: Screen, Shortlist & Hire Superstar Talent</small></h2>
    </div>
  </div>
</div>


<!-- START THE BENEFIT FEATURETTES -->

<div class="featurette-blue">    
  <div class="container">
    <div class="row featurette">
      <div class="hidden-md hidden-lg">
        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Avoid the costs of bad decisions, <span class="text-muted">gain the returns of top performers </span></h2>
        <p class="lead">Bad hiring decisions cost anywhere from 20%-200% of a the persons salary in direct & hidden costs. Increasing hiring success outcomes results in significantly higher productivity and other strategic benefits organisation wide.</p>
      </div>
      <div class="visible-md visible-lg col-md-5">
        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "002.png", alt: "image 2", class: "featurette-image img-responsive" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Hire the very best talent,  <span class="text-muted">without the guess work</span></h2>
        <p class="lead">Screen and select new hires based on specific objective measurable predictors of job success. Companies that do this right will more than double their hiring success outcomes.</p>
      </div>
    </div>
  </div>
</div>

<div class="featurette-blue">  
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7">
        <div class="hidden-md hidden-lg">
        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
        </div>
        <h2 class="featurette-heading">A whole new talent market, <span class="text-muted">now within your reach</span></h2>
        <p class="lead">Performance based screening & selection allows access to a larger talent pool as it allows skilled candidates from unexpected backgrounds to be considered for positions that narrow resume focused processes would exclude them from.</p>
      </div>
      <div class="visible-md visible-lg col-md-5">
        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</div>
<!-- /END THE FEATURETTES -->

<!-- Bottom cta -->
<div class="container center">
  <br>
  <h2 class="hiw-heading"><small>Empower Talent Acquisition in your Organisation</small></h2><br>
  <a class="btn btn-lg btn-success typeform-share" href="https://quanegy.typeform.com/to/XVdMxI" data-mode="1" target="_blank">
    <span class="visible-xs">Get Started Now!</span>
      <span class="hidden-xs">Start Building a Smart Talent Acquisition Process Now</span></a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
    </script>
  <br>
  <br>
  <hr class="featurette-divider">
</div>

