<!-- Jumbotron -->
<div class="hero">
  <div class="container">
    <div class="jumbotron">
      <h1>Increase Sales, Margins & Referrals</h1>
      <h2>With a Smart Customer Acquisition Loop</h2><br>
      <div class="flex-video widescreen span10 offset1">
        <div>
          <iframe width="853" height="480" src="//www.youtube.com/embed/VhmQ3jrLi7M?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>  
      </div>


      <a class="btn btn-lg btn-warning typeform-share" href="https://quanegy.typeform.com/to/XVdMxI" data-mode="1" target="_blank">
        <span class="visible-xs">Get Started Now!</span>
        <span class="hidden-xs">Start Building a Smart Customer Acquisition Loop Now</span></a>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
      </script>
    </div>
  </div>
</div>

  <!-- process -->

<div class="container">
  <div class="row center featurette">
<!--     <h2 class="hiw-heading">How it Works</h2> -->
    <div class="col-lg-4">
        <%= image_tag "badges.001.png", alt: "image 1", class: "img-circle" %><br>
        <h2><small>1: Analyse & break down customer needs & concerns at each phase of the sales process</small></h2>
    </div>
    <div class="col-lg-4">
        <%= image_tag "badges.002.png", alt: "image 1", class: "img-circle" %><br>
        <h2><small>2: Build an automated smart customer acquisition loop that nurtures & moves customers along the loop</small></h2>
    </div>
    <div class="col-lg-4">
        <%= image_tag "badges.003.png", alt: "image 1", class: "img-circle" %><br>
        <h2><small>3: Increase sales, margins, repeat business and referrals while reducing costs.</small></h2>
    </div>
  </div>
</div>


<!-- START THE BENEFIT FEATURETTES -->

<div class="featurette-blue">    
  <div class="container">
    <div class="row featurette">
      <div class="hidden-md hidden-lg">
        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">A surge in your conversion rate, <span class="text-muted">with no opportunity left behind</span></h2>
        <p class="lead">How many opportunities are you missing? Only 3% of your market is ready to buy right now. However a furthur 50% of the market are qualified buyers, they are just not ready to buy yet. And half of these will eventually buy from someone. With a smart customer acquisition loop you can develop and nurture these leads until they are ready to buy from you. Surging your sales and leaving no opportunity behind.</p>
      </div>
      <div class="visible-md visible-lg col-md-5">
        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "002.png", alt: "image 2", class: "featurette-image img-responsive" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Increase your margins,  <span class="text-muted">while reducing costs</span></h2>
        <p class="lead">How much net profit are you leaving on the table? Leads that are developed and nurtured make 47% larger purchases than those that are not. Because nurtured and developed leads are more likely to see the value in product or service upsells and end up buying more.</p>
      </div>
    </div>
  </div>
</div>

<div class="featurette-blue">  
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7">
        <div class="hidden-md hidden-lg">
        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
        </div>
        <h2 class="featurette-heading">Boost repeat business & referrals, <span class="text-muted">exponentially!</span></h2>
        <p class="lead">You have a 5-10 times better chance to sell something to a existing customer than to a new one. And that goes for new customers who were referred by existing customers too. With a smart customer acquisition loop you can engage your customers in a way that naturally compels them to repeat business and refer you to others. When this is designed and built in seemlessly with your product or service you create a viral loop which grows your customer base exponentially.</p>
      </div>
      <div class="visible-md visible-lg col-md-5">
        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</div>
<!-- /END THE FEATURETTES -->

<!-- Bottom cta -->
<div class="container center">
  <br>
  <h2 class="hiw-heading"><small>Empower High Value Customer Acquisition in your Organisation</small></h2><br>
  <a class="btn btn-lg btn-warning typeform-share" href="https://quanegy.typeform.com/to/XVdMxI" data-mode="1" target="_blank">
    <span class="visible-xs">Get Started Now!</span>
      <span class="hidden-xs">Start Building a Smart Customer Acquisition Loop Now</span></a>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
    </script>
  <br>
  <br>
  <hr class="featurette-divider">
</div>

