<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Quanegy helps companies selling big ticket products and services get more customers.">
	  <meta name="keywords" content="Quanegy">
	  <meta name="author" content="http://quanegy.com" />
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>

		<%= render 'layouts/header' %>
	    <div>
	      <%= yield %>
	      <%= render 'layouts/footer' %>
	    </div>

	</body>
</html>
